
<br>
<h1 class="welcome-headline">Welcome To The DermaLog</h1>
<br>
<div class="login-row">
    <div class="login-left">
        <h3 class="login-headline">Please Log In</h3>
        <div class="form">
            <% if flash[:message]%>
            <%= flash[:message] %>
            <% end %>
            <br>
            <%= form_for :user do |f| %>
            <%= f.label :email, :class => "form-label" %><br>
            <%= f.email_field :email, :class => "form-input", required:true %><br>
            <%= f.label :password, :class => "form-label" %><br>
            <%= f.password_field :password, :class => "form-input", required:true %><br>
            <%= f.submit "Log In", :class => "form-submit" %>
            <% end %>
        </div>
    </div>
    <div class="login-right">
        <%= link_to "Log In With Google", '/auth/google_oauth2', class: 'home-button' %>
    </div>
</div>