<div class="text-center">
<br>
<br>
<br>
<h1 class="welcome-headline">Welcome To The DermaLog</h1>
<br>
<h3>Please Log In</h3>

<% if flash[:message]%>
<%= flash[:message] %>
<% end %>
<br>
<%= form_for :user do |f| %>
<%= f.label :email %><br>
<%= f.email_field :email, required:true %><br>
<%= f.label :password %><br>
<%= f.password_field :password, required:true %><br>
<%= f.submit "Log In" %>
<% end %>
</div>