<br>
<br>

<div id="routine-form">
    <%= form_with model: @routine do |f| %>
    <%= f.label :cleanser, :class => "form-label" %><br>
    <%= f.text_field :cleanser, :class => "form-input" %><br>
    <%= f.label :toner, :class => "form-label" %><br>
    <%= f.text_field :toner, :class => "form-input" %><br>
    <%= f.label :moisturizer, :class => "form-label" %><br>
    <%= f.text_field :moisturizer, :class => "form-input"  %><br>
    <%= f.label :serum, :class => "form-label" %><br>
    <%= f.text_field :serum, :class => "form-input" %><br>
    <%= f.label :spf, :class => "form-label" %><br>
    <%= f.text_field :spf, :class => "form-input" %><br><br>
    <%= f.submit "Create Routine", :class => "form-submit" %>
<% end %>
</div>

