<h1>Your Currrent Routine Is:</h1>
<br>

<label>Routine Started On:</label></br>
<%= @routine.created_at.strftime("%A, %b %d")%><br><br>
<label>Cleanser:</label><br>
<%= @routine.cleanser %><br><br>
<label>Toner:</label><br>
<%= @routine.toner %><br><br>
<label>Moisturizer:</label><br>
<%= @routine.moisturizer %><br><br>
<label>Serums:</label><br>
<%= @routine.serum %><br><br>
<label>Sunscreen:</label><br>
<%= @routine.spf %><br><br>
<label>This is my <%= @routine.time_of_day %> routine.</label><br>
</ul>

