<br>
<br>
<div class="text-center">
<h1>Your Currrent Routine Is:</h1>
<br>
<label>Routine Started On:</label></br>
<%= @routine.created_at.strftime("%A, %b %d")%><br><br>
<label>Cleanser:</label><br>
<%= @routine.cleanser %><br><br>
<label>Toner:</label><br>
<%= @routine.toner %><br><br>
<label>Moisturizer:</label><br>
<%= @routine.moisturizer %><br><br>
<label>Serums:</label><br>
<%= @routine.serum %><br><br>
<label>Sunscreen:</label><br>
<%= @routine.spf %><br><br>
</ul>
<br>
<br>
<div>
<%= link_to "Edit Routine", edit_routine_path(@routine) %> | <%= link_to "Delete Routine", @routine, method: :delete, data: { confirm: "Are you sure you want to delete this routine?" } %>
    </div>
</div>
