<h1>Sign up to get started</h1>
<%= form_for(@user, url:'/signup') do |f| %>

<%= f.label :name %><br>

<%= f.text_field :name, required:true %><br>

<%= f.label :email %><br>

<%= f.email_field :email, required:true %><br>

<%= f.label :password %><br>
<%= f.password_field :password, required:true %><br>

<%= f.submit "Sign Up"%>
<% end %>