<h1 class="home-headline">Welcome, <%= @user.name %>!</h1>
<div class="dash-container">
    <div class="dash">
        <p class="dash-headline"> Your Current Routine </p>
        <p>Cleanser: <%= @routine.cleanser%></p>
        <p>Toner: <%= @routine.toner%></p>
        <p>moisturizer: <%= @routine.moisturizer%></p>
        <p>Serum: <%= @routine.serum%></p>
        <p>Sunscreen: <%= @routine.spf%></p>
    </div>

    <div class="dash">
        <p class="dash-headline"> Your Last Log </p>
        <p>How is your skin feeling today? <%= @log.current_condition%>
        <p>How much water did you have? <%= @log.water_level%> oz.
        <p>How many hours of sleep did you get? <%= @log.hours_slept%> hrs.
        <p>Comments, Concerns, or Self Love: <%= @log.comments%>
    </div>


</div>


<%# if you have time: create the glow tip functunality %>