<h1 class="home-headline">Welcome, <%= @user.name %>!</h1>
<div class="dash-container">
    <div class="dash-routine">
        <p class="dash-headline"> Your Current Routine </p>
        <p>Cleanser: <%= @routine.cleanser%></p>
        <p>Toner: <%= @routine.toner%></p>
        <p>moisturizer: <%= @routine.moisturizer%></p>
        <p>Serum: <%= @routine.serum%></p>
        <p>Sunscreen: <%= @routine.spf%></p>
    </div>



</div>


<%# if you have time: create the glow tip functunality %>