<br>
<div class="text-center">
<br>
<h4><%= @product.name %></h4> 
<h4><%= @product.brand %></h4>
<h4><%= @product.product_type.capitalize %></h4>
<h5><%= @product.description %></h5>
<br>
<br>
<br> 
<%= link_to "Leave A Review", new_product_review_path(@product.id)  %> |
<%= link_to "View All Reviews", product_reviews_path(@product.id) %>