<br>
<br>
<div class="text-center">
<h1>All Reviews for <%= @product.name %></h1>
<br>
<% if !@reviews.any? %>
<h5><%= "No one has reviewed this product." %></h5>
<% else %>
<% @reviews.each do |r| %>
<h4><%= r.title %></h4><br>
<h6>My Rating | <%= r.rating %> stars!</h6><br>
<h6>My Thoughts:</h6>
<%= r.review %><br><br>
<h6>By:<%= r.user.name %></h6><br>

<br>
___________________________
<% end %>
    <% end %>
