
 <div class="container">
    <div class="text-center">
<nav>
<br>
    <% if logged_in? %>
    <%= link_to "Home", user_path(current_user) %> |
    <%= link_to "Create New Routine", new_routine_path %> |
    <%= link_to "View All Routines", routines_path %> |
    <%= link_to "Create A Daily Log", new_log_path%> |
    <%= link_to "View All Logs", logs_path %> |
    <%= link_to "View All Products", products_path %> |
    <%= link_to "Logout", logout_path, method:"delete" %>
    <% end %> 
    </nav>
    </div>
</div>