<!DOCTYPE html>
<html>
  <head>
    <title>ProductReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   

    <nav>
    <% if logged_in? %>
    
    <%= link_to "Create New Routine", new_routine_path, method:"get" %>
     <%# link to home 
    link to past routines
    link to all logs
    view all products
    leave a review  %>
    <%= link_to "Logout", logout_path, method:"delete" %>
    <% end %> 
    </nav>
     <%= yield %>
  </body>
</html>
