<!DOCTYPE html>
<html>
  <head>
    <title>DermaLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag 'application', href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" %>
    <%= stylesheet_link_tag 'application', href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" %>



  </head>

  <body>
    <%= render 'layouts/navbar'%>
     <%= yield %>
  </body>
</html>
