<!DOCTYPE html>
<html>
  <head>
    <title>DermaLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <br>
    <nav>
    <% if logged_in? %>
    <%= link_to "Home", user_path(current_user) %> |
    <%= link_to "Create New Routine", new_routine_path %> |
    <%= link_to "View All Routines", routines_path %> |
    <%= link_to "Create A Daily Log", new_log_path%> |
    <%= link_to "View All Logs", logs_path %> |
    <%# link to all logs
    leave a review  %> 
    <%= link_to "View All Products", products_path %> |
    <%= link_to "Logout", logout_path, method:"delete" %>
    <% end %> 
    </nav>
     <%= yield %>
  </body>
</html>
